<div class="row"> 
			<div class="col-md-12"> 
				<form role="form">
					<!-- general form elements -->
					<div class="box box-success">
						<div class="box-header">
						  <h3 class="box-title">Consultar</h3>
						</div><!-- /.box-header -->
						<!-- form start --> 
						<div class="box-body">
							<div class="form-horizontal">
								<div class="form-group">
									<label class = "control-label col-md-2" >Consultar por:</label>
									<div class="col-md-4">	
										<select class="form-control" id="_tipo">
											<option>option 1</option>
											<option>option 2</option>
											<option>option 3</option>
											<option>option 4</option>
											<option>option 5</option>
										</select>
									</div>
								</div>
								<div class="form-group">						
									<label class = "control-label col-md-2" >Buscar:</label>
									<div class="col-md-2">								
										<input type="text" class="form-control" id="_buscar1"/>
									</div>	
									<div class="col-md-1">							
										<input type="text" class="form-control" id="_buscar2"/>
									</div>									
									<div class="col-md-2">
										<button type="submit" class="btn btn-primary">Consultar</button>
									</div>	
								</div>	
								<!-- radio -->
								<div class="form-group">
									<label class = "control-label col-md-2" >Periodo:</label>
									<div class="col-md-4">	
										<div class="radio">
											<label>
											  <input type="radio" name="optionsRadios" id="_radoption1" value="primer" checked>
											  Primer Trimestre
											</label>
										</div>
										<div class="radio">
											<label>
											  <input type="radio" name="optionsRadios" id="_radoption2" value="segundo">
											  Segundo Trimestre
											</label>
										</div>
										<div class="radio">
											<label>
											<input type="radio" name="optionsRadios" id="_radoption3" value="tercer" >
											Tercer Trimestre
											</label>
										</div> 
										<div class="radio">
											<label>
											<input type="radio" name="optionsRadios" id="_radoption4" value="cuarto" >
											Cuarto Trimestre
											</label>
										</div> 
									</div>
								</div>								
								<!--div class="form-group">
									<label class = "control-label col-md-2" >Periodos:</label>
									<div class="col-md-4">	
										<select multiple class="form-control" id="_periodo">
											<option>Cuarto Trimestre 2017</option>
											<option>Primer Trimestre 2018</option>
											<option>Segundo Trimestre 2018</option>
											<option>Tercer Trimestre 2018</option>
											<option>Cuarto Trimestre 2018</option>
										</select>
									</div>
								</div-->								
								<div class="box-footer">
								</div>
							</div><!-- /.end form horizontal -->
						</div><!-- /.box-body -->	
					</div><!-- /.box -->
				</form>				
			</div>       
          </div><!-- /.row (main row) -->