<div class="modal-header">
	<h1>Asociar Servicios</h1>
</div>
<div class="modal-body">
	<div class="card">
		<div class="card-block">
			<div class="form-group">
				<label class="col-form-label">Elegir Servicio</label>
				<p-dropdown [options]="servicios" [(ngModel)]="servicioSelected" placeholder="Seleccione un Servicio" optionLabel="nombre" [showClear]="true" (onChange)="test()"></p-dropdown>
			</div>
		</div>
	</div>
	<div class="card" *ngIf="servicioSelected.codigoServicio != undefined">
		<div class="card-block">
			<app-contador-agua *ngIf="servicioSelected.codigoServicio == 1" [servicio]="servicioSelected" [dpi]="dpi"></app-contador-agua>
		</div>
	</div>
</div>