  <div class="row"> 
			<div class="col-md-12"> 
				<form role="form">
					<!-- general form elements -->
					<div class="box box-success">
						<div class="box-header">
						  <h3 class="box-title">Consulta de consumo de agua.</h3>
						</div><!-- /.box-header -->
						<!-- form start --> 
						<div class="box-body">
							<div class="form-horizontal">
								<div class="form-group">						
									<label class = "control-label col-md-2" >Contador:</label>
									<div class="col-md-2">								
										<input type="text" class="form-control" id="_contador"/>
									</div>
									<div class="col-md-2">
										<button type="button" class="btn btn-primary">Consultar</button>
									</div>
								</div>	
							</div><!-- /end form -->
						</div><!-- /.box-body -->				
					</div><!-- /.box -->
				</form>				
			</div>       
          </div><!-- /.row (main row) -->